<header
  class="bg-background px-gutter shadow-paper-2 absolute top-0 right-0 left-0 z-50 shrink-0 border-b border-neutral-200"
>
  <div
    class="max-w-content mx-auto flex h-(--title-height) items-center justify-between border-b"
  >
    <div
      class="text-primary cursor-pointer text-[24px] leading-[32px] font-semibold"
      role="button"
      tab-index={0}
      aria-label="Seite neu laden"
    >
      Digitaler Energie Zwilling
    </div>

    <img src="/logo.png" alt="Stadt Regensburg Logo" class="h-[60px] w-auto" />
  </div>
  <slot />
</header>
