<header
  class="bg-background shadow-paper-2 absolute top-0 right-0 left-0 z-50 shrink-0 border-b border-neutral-200"
>
  <div class="px-gutter flex h-(--title-height) items-center border-b py-4">
    <!-- OnClick Action? -->
    <div
      class="text-primary cursor-pointer text-[20px] leading-7 font-semibold"
      role="button"
      tabindex={0}
      aria-label="Seite neu laden"
    >
      Digitaler Energie Zwilling
    </div>
  </div>
  <slot />
</header>
