<header
  class="bg-background shrink-0 absolute top-0 left-0 right-0 border-b border-neutral-200 z-50"
>
  <div class="h-(--title-height) flex items-center py-4 border-b px-gutter">
    <!-- OnClick Action? -->
    <div
      class="text-[20px] leading-7 font-semibold text-primary cursor-pointer"
      role="button"
      tabindex={0}
      aria-label="Seite neu laden"
    >
      Digitaler Energie Zwilling
    </div>
  </div>
  <slot />
</header>
