---
import "@/styles/global.css"
import Header from "./Header.astro"
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Digitaler Energie Zwilling Regensburg</title>
  </head>
  <body class="h-screen flex flex-col">
    <slot/>
  </body>
</html>