---
import BaseLayout from "./BaseLayout.astro";
import Header from "./header/Header.astro";
import Main from "./Main.astro";
import Footer from "./Footer.astro";
import ProgressBar from "@/feature/progressBar/ProgressBar";
---
<BaseLayout>
  <Header>
    <ProgressBar client:load/>
  </Header>
  <Main>
    <slot/>
  </Main>
  <Footer/>
</BaseLayout>