---
import "modern-normalize/modern-normalize.css";

interface Props {
    title: string;
};
const { title } = Astro.props;

const lang = Astro.currentLocale;

import "../styles/global.css";
---

<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <link rel="stylesheet" href="/cesium/Widgets/widgets.css" />
        <script is:inline src="/cesium/Cesium.js"></script>
    </head>
    <body>
        <slot />
    </body>
</html>
